.menu-bar .menu:nth-child(2) a{
    color: #1556F7;
    font-weight: bold;
}
*{
    font-family: 'Pretendard-Regular';
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
.large-text{
    font-size: 55px;
    font-weight: bold;
    color: #003ACB;
}
.small-text{
    font-size: 40px;
    font-weight: bold;
}
.talent{
    margin-left: 250px;
    margin-top: 170px;
}
.talent-text{
    margin-left: 250px;
    font-size: 30px;
}
.line{
    width: 1000px;
    color: black;
    text-align: center;
    margin-top: 272px;
}
.teacher{
    margin-left: 275px;
    font-size: 40px;
    margin-top: 46px;
    float: left;
}
.teacher-name{
    margin-left: 200px;
}
.under-line{
    width: 1000px;
    color: black;
    text-align: center;
    margin-top: 49px;
}
.cns-member{
    text-align: center;
    font-size: 40px;
    margin-top: 180px;
}
body {
    font-family: Arial, sans-serif;
}

.timeline-container {
    display: flex;
}

.timeline {
    flex: 1;
    padding: 20px;
    margin-top: 30px;
}

.generation {
    cursor: pointer;
    transition: color 0.3s;
    margin-left: 200px;
    line-height: 80px;
    font-size: 40px;

}

.generation:hover{
    color: #007BFF;
}
.member-name{
    font-size: 30px;
    font-weight: 100;
}
.members-container {
    flex: 3;
    padding: 20px;
    overflow: hidden;
    position: relative;
    margin-top: 40px;
    line-height: 50px;
    height: 100vh;
}

.members {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateX(100%);
}
.major{
    margin-left: 240px;
}
.members.active {
    opacity: 1;
    transform: translateX(0);
}

.member {
    margin-bottom: 20px;
    margin-left: 80px;
}

.member img {
    width: 40px;
    height: 40px;
    margin-left: 240px;
}
