.menu-bar .menu:nth-child(2) a{
    color: #1556F7;
    font-weight: bold;
}
*{
    font-family: 'Pretendard-Regular';
}
.large-text{
    font-size: 50px;
    font-weight: bold;
    color: #003ACB;
}
.small-text{
    font-size: 35px;
    font-weight: bold;
}
.talent{
    margin-left: 250px;
    margin-top: 170px;
}
.talent-text{
    margin-left: 250px;
    font-size: 25px;
}
.line{
    width: 1000px;
    color: black;
    text-align: center;
    margin-top: 272px;
}
.teacher{
    margin-left: 275px;
    font-size: 40px;
    margin-top: 46px;
    float: left;
}
.teacher-name{
    margin-left: 200px;
}
.under-line{
    width: 1000px;
    color: black;
    text-align: center;
    margin-top: 49px;
}
.member{
    font-size: 40px;
    text-align: center;
    margin-top: 187px;
}
#number-6th { 
    display: none; 
}
#number-6th:checked ~ .member-6th { 
    display: block; 
} 
.member-6th { 
    display: none; 
    list-style: none;
    margin-left: 450px;
    font-size: 20px;
    line-height: 50px;
}
.people-6th{
    font-size: 40px;
    color: #003ACB;
    margin-left: 250px;
}
